/* CSS Document */

body{

}

.banner-bg{
	background-image:url("..//images/banner1.jpg");
	background-repeat:no-repeat, repeat;
	background-attachment:cover;
	background-position:center;
	padding:300px;
	width:100%;
	

}
.top-menu{
	padding-bottom:18px; 

}
.icn-size{
	font-size:.5em;
	padding-left:10px;
	

	

}
li{
	padding:8px;
	font-size:17px;
	font-weight:normal;

}
